.main{
   flex:1;
    min-height: 100vh;
   padding-bottom: 15vh;
   position: relative;
}
.main .nav{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;
    padding: 10px;
    color: #0650bd;
}
.main .nav img{
    width: 50px;
    border-radius: 50%;
}
.main .main-container{
  max-width: 1000px;
  margin: auto;
}
.main .main-container .greet{
    text-align: center;
    font-size: 22px;
    color: #0650bd;
}
.main .main-container .greet{
    margin:50px,0px;
    font-size: 50px;
    color:#c4c7c9;
    font-weight: 500;
    padding:20px;
}
.main .main-container .greet span{
   background: -webkit-linear-gradient(160deg, #22def3, #ed2fd7);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.main  .cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px; 
}    
.main .cards .card{
    background: hsla(210, 3%, 85%, 0.34);
    padding: 20px;
    height: 200px;  
    border-radius: 10px;
    position: relative;
    cursor: pointer;    
}
.main .cards .card img{
    width: 35px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);

}
.main .cards .card p{
    font-size: 15  px;
    color: #848586;
    font-weight: 500;
}
.main .card:hover{
    background: hsla(0, 1%, 63%, 0.54);
}
.main .main-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding:0px 20px;
    margin: auto;
}
.main .main-bottom .search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 50px;
    background-color: #d7d5d5; 
    padding: 10px 20px;
}
 .search-box img{
   width: 24px; 
   cursor: pointer;
   gap: 20px;
}
.search-box input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
   padding: 10px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 20px;

}
.main .main-bottom .bottom-info{
    text-align: center;
    font-size: 14px;
    color: #848586;
    font-weight: 500;
    margin-top: 10px;
    padding: 10px;
}
.main .result{
    padding: 0px 5%;
    max-height:70vh;
    overflow-y: scroll;
}
.result::-webkit-scrollbar{
    display: non e;
} 
.result .result-title{
    margin:40px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.result img{
    width: 40px;
    border-radius: 50%;
}
.result-data{
    display: flex;
    align-items: start;
    gap: 10px;
}
.main .loader{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main .loader hr{
   border-radius:4px;
   border:none;
   background-color: #f0f2f4;
background: linear-gradient(to right, #f0f2f4, #8bc2fa, #f0f2f4);
background-size: 800px 50px;
height: 20px;
animation: loader 3s infinite;
}
@keyframes loader{
    0%{
        background-position: -800px 0;
    }
    100%{
        background-position: 800px 0;
    }
}
.result-data p{
    font-size: 16px;
    color: #48aafa;
    font-weight: 500;
    line-height: 1.5;
}